<%-include ("./Include/Admin/head.ejs")%>

  <body>
    <%-include ("./Include/Admin/header.ejs")%>
      <!-- ======= Sidebar ======= -->
      <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
            <a class="nav-link collapsed" href="/dashboard">
              <i class="bi bi-columns-gap"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <!-- End Dashboard Nav -->
          </li><!-- End Components Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="/student">
              <i class="bi bi-person-circle"></i>
              <span>Student Management</span>
            </a>
          </li><!-- End Error 404 Page Nav -->

          <li class="nav-item">
            <a class="nav-link" href="/attendance">
              <i class="bi bi-table"></i>

              <span>Attendance Management</span>
            </a>
          </li><!-- End Blank Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="/event">

              <i class="bi bi-calendar-event"></i>
              <span>Event Management</span>
            </a>
          </li><!-- End Blank Page Nav -->
        </ul>

      </aside><!-- End Sidebar-->
      <main class="main" id="main">
        <div class="pagetitle">
          <h1>Attendance Management</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Attendance Management</li>
            </ol>
          </nav>
        </div>
        <section class="section student">
          <div class="row">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">All Attendance Record</h5>
                <div class="table-responsive-md">
                  <table id="attendanceTable" class="table" style="width: 100%;">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Code</th>
                        <th>Student Number</th>

                        <th>Time In (AM)</th>
                        <th>Time Out (AM)</th>
                        <th>Time In (PM)</th>
                        <th>Time Out (PM)</th>

                        <th>Log Date</th>

                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>



              </div>
            </div>

          </div>
        </section>
      </main>


      <%-include ("./Include/Admin/script.ejs")%>


        <script>

          var table = $("#attendanceTable").DataTable({

            processing: true,


            ajax: {
              url: "/attendance_data",
              type: "POST",

            },
            columns: [
              { 'data': 'attendance_id' },
              { 'data': 'event_code' },
              { 'data': 'student_id' },
              { 'data': 'time_in_am' },
              { 'data': 'time_out_am' },
              { 'data': 'time_in_pm' },
              { 'data': 'time_out_pm' },
              { 'data': 'log_date' },
             

            ]
          });


        </script>
  </body>

  </html>