<%-include ("./Include/Admin/head.ejs")%>
  <body>
    <%-include ("./Include/Admin/header.ejs")%>
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
          <a class="nav-link " href="/dashboard">
            <i class="bi bi-columns-gap"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End Dashboard Nav -->
        </li><!-- End Components Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="/student">
            <i class="bi bi-person-circle"></i>
            <span>Student Management</span>
          </a>
        </li><!-- End Error 404 Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/attendance">
            <i class="bi bi-table"></i>

            <span>Attendance Management</span>
          </a>
        </li><!-- End Blank Page Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="/event">

            <i class="bi bi-calendar-event"></i>
            <span>Event Management</span>
          </a>
        </li><!-- End Blank Page Nav -->
      </ul>

    </aside><!-- End Sidebar-->

      <main id="main" class="main">
        <section class="section dashboard">
          <div class="row">
            <!-- Active User Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card active-user-card">
                <div class="card-body">
                  <h5 class="card-title">Total Student</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>4</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- End Active User Card -->

            <!-- Inactive Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card inactive-user-card">
                <div class="card-body">
                  <h5 class="card-title">Total Attendee Today</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>16</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Inactive Card -->
            <!-- Inactive Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card inactive-user-card">
                <div class="card-body">
                  <h5 class="card-title">Total Course</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>16</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Inactive Card -->
            <!-- Inactive Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card inactive-user-card">
                <div class="card-body">
                  <h5 class="card-title">Total Section</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>16</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Inactive Card -->
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">TOTAL STUDENT BY COURSE</h5>
                  <div id="barChart" style="min-height: 400px;" class="echart"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">TOTAL ATTENDANCE BY THIS WEEK</h5>
                  <div id="areaChart" style="min-height: 400px;" class="echart"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">ATTENDANCE COMPARISON</h5>
                  <!-- Vertical Bar Chart -->
                  <div id="verticalBarChart" style="min-height: 400px;" class="echart"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Donut Chart</h5>
                  <!-- Donut Chart -->
                  <div id="donutChart" style="min-height: 400px;" class="echart"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">RECENT NEW USER <button class="btn btn-success btn-sm float-end">View
                          All</button></h5>

                      <!-- Table with stripped rows -->
                      <table class="table ">
                        <thead>
                          <tr >
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Age</th>
                            <th scope="col">Start Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Brandon Jacob</td>
                            <td>Designer</td>
                            <td>28</td>
                            <td>2016-05-25</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Bridie Kessler</td>
                            <td>Developer</td>
                            <td>35</td>
                            <td>2014-12-05</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Ashleigh Langosh</td>
                            <td>Finance</td>
                            <td>45</td>
                            <td>2011-08-12</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Angus Grady</td>
                            <td>HR</td>
                            <td>34</td>
                            <td>2012-06-11</td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>Raheem Lehner</td>
                            <td>Dynamic Division Officer</td>
                            <td>47</td>
                            <td>2011-04-19</td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- End Table with stripped rows -->

                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">RECENT ATTENDANCE <button class="btn btn-success btn-sm float-end">View
                          All</button></h5>

                      <!-- Table with stripped rows -->
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Age</th>
                            <th scope="col">Start Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Brandon Jacob</td>
                            <td>Designer</td>
                            <td>28</td>
                            <td>2016-05-25</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Bridie Kessler</td>
                            <td>Developer</td>
                            <td>35</td>
                            <td>2014-12-05</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Ashleigh Langosh</td>
                            <td>Finance</td>
                            <td>45</td>
                            <td>2011-08-12</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Angus Grady</td>
                            <td>HR</td>
                            <td>34</td>
                            <td>2012-06-11</td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>Raheem Lehner</td>
                            <td>Dynamic Division Officer</td>
                            <td>47</td>
                            <td>2011-04-19</td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- End Table with stripped rows -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">


                <div class="card-body">
                  <h5 class="card-title">Recent Activity</h5>

                  <div class="activity">

                    <div class="activity-item d-flex">
                      <div class="activite-label">32 min</div>
                      <i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
                      <div class="activity-content">
                        Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                      </div>
                    </div><!-- End activity item-->

                    <div class="activity-item d-flex">
                      <div class="activite-label">56 min</div>
                      <i class="bi bi-circle-fill activity-badge text-danger align-self-start"></i>
                      <div class="activity-content">
                        Voluptatem blanditiis blanditiis eveniet
                      </div>
                    </div><!-- End activity item-->

                    <div class="activity-item d-flex">
                      <div class="activite-label">2 hrs</div>
                      <i class="bi bi-circle-fill activity-badge text-primary align-self-start"></i>
                      <div class="activity-content">
                        Voluptates corrupti molestias voluptatem
                      </div>
                    </div><!-- End activity item-->

                    <div class="activity-item d-flex">
                      <div class="activite-label">1 day</div>
                      <i class="bi bi-circle-fill activity-badge text-info align-self-start"></i>
                      <div class="activity-content">
                        Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                      </div>
                    </div><!-- End activity item-->

                    <div class="activity-item d-flex">
                      <div class="activite-label">2 days</div>
                      <i class="bi bi-circle-fill activity-badge text-warning align-self-start"></i>
                      <div class="activity-content">
                        Est sit eum reiciendis exercitationem
                      </div>
                    </div><!-- End activity item-->

                    <div class="activity-item d-flex">
                      <div class="activite-label">4 weeks</div>
                      <i class="bi bi-circle-fill activity-badge text-muted align-self-start"></i>
                      <div class="activity-content">
                        Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                      </div>
                    </div><!-- End activity item-->

                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>

      </main>
      <!-- End #main -->




      <%-include ("./Include/Admin/script.ejs")%>
        <script>
          // Start Donut Chart
          document.addEventListener("DOMContentLoaded", () => {
            echarts.init(document.querySelector("#donutChart")).setOption({
              tooltip: {
                trigger: 'item'
              },
              legend: {
                top: '5%',
                left: 'center'
              },
              series: [{
                name: 'Access From',
                type: 'pie',
                radius: ['40%', '70%'],
                avoidLabelOverlap: false,
                label: {
                  show: false,
                  position: 'center'
                },
                emphasis: {
                  label: {
                    show: true,
                    fontSize: '18',
                    fontWeight: 'bold'
                  }
                },
                labelLine: {
                  show: false
                },
                data: [{
                  value: 1048,
                  name: 'Search Engine'
                },
                {
                  value: 735,
                  name: 'Direct'
                },
                {
                  value: 580,
                  name: 'Email'
                },
                {
                  value: 484,
                  name: 'Union Ads'
                },
                {
                  value: 300,
                  name: 'Video Ads'
                }
                ]
              }]
            });
          });
          // End Donut Chart

          // Start Vertical Bar Chart
          document.addEventListener("DOMContentLoaded", () => {
            echarts.init(document.querySelector("#verticalBarChart")).setOption({

              tooltip: {
                trigger: 'axis',
                axisPointer: {
                  type: 'shadow'
                }
              },
              legend: {},
              grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
              },
              xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01]
              },
              yAxis: {
                type: 'category',
                data: ['Brazil', 'Indonesia', 'USA', 'India', 'China', 'World']
              },
              series: [{
                name: '2011',
                type: 'bar',
                data: [18203, 23489, 29034, 104970, 131744, 630230]
              },
              {
                name: '2012',
                type: 'bar',
                data: [19325, 23438, 31000, 121594, 134141, 681807]
              }
              ]
            });
          });
          // End Vertical Bar Chart

          // Start Area Chart
          document.addEventListener("DOMContentLoaded", () => {
            echarts.init(document.querySelector("#areaChart")).setOption({
              xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
              },
              yAxis: {
                type: 'value'
              },
              series: [{
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line',
                smooth: true,
                areaStyle: {}
              }]
            });
          });
          // End Area Chart

          // Start Bar Chart
          document.addEventListener("DOMContentLoaded", () => {
            echarts.init(document.querySelector("#barChart")).setOption({
              xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
              },
              yAxis: {
                type: 'value'
              },
              series: [{
                data: [120, 200, 150, 80, 70, 110, 130],
                type: 'bar'
              }]
            });
          });
    // End Bar Chart
        </script>


  </body>

  </html>