<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" href="/img/cte_logo.png" type="image/png" sizes="16x16">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <title>404 | Page not found</title>
    <style>
        /* Imported fonts */
        @import url('https://fonts.googleapis.com/css?family=Anton');
        @import url('https://fonts.googleapis.com/css?family=Open+Sans');

        /* CSS */


        #main {
            text-align: center;
        }

        .message {
            color: #333;
            font-family: 'Open Sans' sans-serif !important;
            margin: 0 15px;

        }

        .title {
            font-family: 'Anton', sans-serif;
            text-transform: uppercase;
            color: #0077ff;
            font-size: 48px;
        }

        .header {
            margin: 4rem auto;
        }

        .btn {
            margin-top: 2rem;
            display: inline-block;
            outline: 0;
            border: none;
            box-shadow: none;
            cursor: pointer;
            padding: 9px 22px;
            font-size: 18px;
            height: 40px;

            color: #fff;
            text-align: center;
            line-height: normal;
            border-radius: 50px;
            transition: color .2s ease, background-color .2s ease, box-shadow .2s ease;
        }
    </style>
</head>


<body>


    <main id="main">
        <div id="logo-container" class="mt-3">
            <div class="p-2">
                <div id="attendance_logo" class=" text-center">
                    <img src="/img/mmsu_logo.png" alt="Logo" height="55"
                        class="d-inline-block align-text-center">
                    <img src="/img/cte_logo.png" alt="Logo" height="55"
                        class="d-inline-block align-text-center">
                    <img src="/img/ict_logo.png" alt="Logo" height="55"
                        class="d-inline-block align-text-center">
                    <img src="/img/sc_logo.png" alt="Logo" height="55"
                        class="d-inline-block align-text-center">
                    <h6 class="mt-2">CTE ATTENDANCE RECORDING SYSTEM</h6>
                </div>
            </div>
        </div>
        <div class="header">
            <h1 class="title text-success">403 - Unauthorized!</h1>
        </div>
        <p class="message fw-bold">Access Denied. You Do Not Have The Permission To Access This Page On This Server</p>
        <a class="btn btn-success btn-sm" href="/">Go to Scanner</a>
        


    </main>
</body>

</html>