<%-include ("./Include/Admin/head.ejs")%>

  <body>

    <%-include ("./Include/Admin/header.ejs")%>

      <!-- ======= Sidebar ======= -->
      <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
            <a class="nav-link collapsed" href="/dashboard">
              <i class="bi bi-columns-gap"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <!-- End Dashboard Nav -->
          </li><!-- End Components Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="/student">
              <i class="bi bi-person-circle"></i>
              <span>Student Management</span>
            </a>
          </li><!-- End Error 404 Page Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" href="/attendance">
              <i class="bi bi-table"></i>

              <span>Attendance Management</span>
            </a>
          </li><!-- End Blank Page Nav -->
          <li class="nav-item">
            <a class="nav-link" href="/event">

              <i class="bi bi-calendar-event"></i>
              <span>Event Management</span>
            </a>
          </li><!-- End Blank Page Nav -->
        </ul>

      </aside><!-- End Sidebar-->
      <div class="main" id="main">
        <section class="section student">
         
         
          <div class="row">
            <div class="card">
              <div class="card-body">

                <h5 class="card-title">New Event</h5>
                <div class="mb-3 row">
                  <label for="eventName" class="col-sm-3 col-form-label">Event Name:</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="eventName">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="timeAttendance" class="col-sm-3 col-form-label">Time Attendance (Morning):</label>
                  <div class="col-sm-7">
                    <input id="appt-time" class="form-control" type="time" name="appt-time" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="timeAttendance2" class="col-sm-3 col-form-label">Time Attendance (Afternoon):</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="timeAttendance2">
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </section>
      </div>


      <%-include ("./Include/Admin/script.ejs")%>
     
  </body>

  </html>