<%-include ("./Include/Index/main_head.ejs")%>
	<%-include ("./Include/Index/main_header.ejs")%>

		<body>

			<main id="main">

				<div class="container-lg">

					<div class="page-header pt-3">
						<!-- <div class="row mb-md-1">
							<div class="col-12 col-lg-8 text-start">
								<h5 class="fw-bold">Event Name: 45th MMSU Foundation</h5>
								

							</div>
						</div> -->
					</div>
					<div class="page-content">

						<div class="row g-2">

							<div class="col-lg-4">
								<div class="card mb-2">
									<div class="card-body text-center">
										<div id="reader"></div>

									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="card">
											<div class="card-body">

												<p class="fw-bold mb-1">How to use:</p>
												<ol>
													<li class="instruction">
														Make sure that the user must have generated QR Code already.
														<div>
															<small class="text-success">(Format example: 19-070228, Noel
																Michael T. Talub, BSIT-COET, 4 - B)</small>
														</div>

													</li>

													<li class="instruction">Scan your QR Code</li>
												</ol>
												<p class="fw-bold">
													Press F5 to refresh the system if it does not work and make sure the
													camera permission is allowed.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="card mb-2">
									<div class="card-body">
										<!-- <h5 class="mb-3 fw-bold">Student Information</h5> -->
										<div class="col-md-12">
											<p class="fw-bold mb-2 fs-5">Student ID&nbsp; : <span class="fw-normal"
													id="student_id"></span></p>
											<p class="fw-bold mb-2 fs-5">Full Name&nbsp; &nbsp; : <span
													class="fw-normal" id="student_name"></span></p>
											<p class="fw-bold mb-2 fs-5">Year&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
												&nbsp; &nbsp;: <span class="fw-normal" id="student_year"></span></p>
											<p class="fw-bold mb-2 fs-5">Course&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: <span
													class="fw-normal" id="student_course"></span></p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="card mb-4">
											<div class="card-body">
												<h5 class="mb-4 fw-bold">Recent Activity Logs <span><svg
															xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
															width="16" height="16" fill="#212529">
															<path
																d="M75 75L41 41C25.9 25.9 0 36.6 0 57.9V168c0 13.3 10.7 24 24 24H134.1c21.4 0 32.1-25.9 17-41l-30.8-30.8C155 85.5 203 64 256 64c106 0 192 86 192 192s-86 192-192 192c-40.8 0-78.6-12.7-109.7-34.4c-14.5-10.1-34.4-6.6-44.6 7.9s-6.6 34.4 7.9 44.6C151.2 495 201.7 512 256 512c141.4 0 256-114.6 256-256S397.4 0 256 0C185.3 0 121.3 28.7 75 75zm181 53c-13.3 0-24 10.7-24 24V256c0 6.4 2.5 12.5 7 17l72 72c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-65-65V152c0-13.3-10.7-24-24-24z" />
														</svg></span>
												</h5>

												<table id="example" class="table table-bordered">
													<thead>
														<tr>

															<th>Student ID</th>
															<th>Time In</th>
															<th>Time Out</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

			</main>


		</body>

		<%-include ("./Include/Index/main_footer.ejs")%>
			<%-include ("./Include/Index/main_end.ejs")%>