<%-include ("./Include/Admin/head.ejs")%>

  <body>
    <%-include ("./Include/Admin/header.ejs")%>
      <!-- ======= Sidebar ======= -->
      <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
            <a class="nav-link collapsed" href="/dashboard">
              <i class="bi bi-columns-gap"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <!-- End Dashboard Nav -->
          </li><!-- End Components Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="/student">
              <i class="bi bi-person-circle"></i>
              <span>Student Management</span>
            </a>
          </li><!-- End Error 404 Page Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" href="/attendance">
              <i class="bi bi-table"></i>

              <span>Attendance Management</span>
            </a>
          </li><!-- End Blank Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="/event">

              <i class="bi bi-calendar-event"></i>
              <span>Event Management</span>
            </a>
          </li><!-- End Blank Page Nav -->
          <li class="nav-heading">Others</li>


          <li class="nav-item">
            <a class="nav-link" href="/settings">

              <i class="bi bi-gear"></i>
              <span>Settings</span>
            </a>
          </li><!-- End Blank Page Nav -->
        </ul>

      </aside><!-- End Sidebar-->
      <main class="main" id="main">
        <div class="pagetitle">
          <h1>Settings</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>


              <li class="breadcrumb-item active">Settings</li>
            </ol>
          </nav>
        </div>
        <section class="section student">
          <%-include ("./Include/Admin/message.ejs")%>
            <div class="row">

              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <form action="/change_password" method="post" class="needs-validation" id="form-pass" novalidate>


                      <div class="mb-3">
                        <label for="passwordInpOld" class="form-label">Old Password</label>
                        <input type="password" name="oldPassword" class="form-control" id="passwordInpOld" required>
                        <p class="mb-0 text-danger" id="status-old"></p>
                      </div>

                      <div class="mb-3">
                        <label for="passwordInpNew" class="form-label">New Password</label>
                        <input type="password" name="newPassword" class="form-control" id="passwordInpNew"
                          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                        <div class="invalid-feedback">
                          Must contain at least one number and one uppercase and lowercase
                          letter,
                          and at
                          least 8 or more characters
                        </div>
                        <p class="mt-1 mb-0 text-danger" id="status2"></p>
                      </div>
                      <div class="mb-2">
                        <button type="submit" class="btn btn-success btn-sm">Change Password</button>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Backup and Reset Data</h5>
                    <div class="backup mb-3">
                      <strong>Backup this database</strong>
                      <p class="mb-1">
                        Create a copy of data that can be recovered in the event of a data failure</p>
                      <a href="/backup_sql" class="btn btn-success btn-sm">
                        Backup Database
                      </a>
                    </div>
                    <div class="delete"><!-- Button trigger modal -->
                      <strong>Delete this database</strong>
                      <p class="mb-1">
                        Once you delete a database, there is no going back. Please be certain.</p>
                      <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        data-bs-target="#deleteDb">
                        Delete Database
                      </button>
                    </div>
                  </div>


                  <!-- Modal -->
                  <div class="modal fade" id="deleteDb" tabindex="-1" aria-labelledby="deleteDbLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <form action="/delete_database" class="needs-validation" method="post" id="form-del" novalidate>
                          <div class="modal-header">
                            <h1 class="modal-title fs-6 text-danger" id="deleteDbLabel">Delete Database?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="text-content">
                              <div class="">
                                <p class="mb-0">Are you sure to delete database?</p>
                                <p>You <strong>can't undo</strong> this action.</p>
                              </div>
                              <label for="delInput" class="form-label">Enter admin password to confirm</label>
                              <input id="delInput" class="form-control form-control-sm" name="password" type="password"
                                required>
                              <p id="status" class="text-danger mb-0"></p>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm"
                              data-bs-dismiss="modal">Close</button>
                            <input type="submit" id="delete-button" value="Confirm Delete"
                              class="btn btn-danger btn-sm"></input>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            </div>
        </section>
      </main>


      <%-include ("./Include/Admin/script.ejs")%>

  </body>

  </html>