<%-include ("./Include/Admin/head.ejs")%>

    <body>

        <%-include ("./Include/Admin/header.ejs")%>

            <!-- ======= Sidebar ======= -->
            <aside id="sidebar" class="sidebar">

                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/dashboard">
                            <i class="bi bi-columns-gap"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <!-- End Dashboard Nav -->
                    </li><!-- End Components Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/student">
                            <i class="bi bi-person-circle"></i>
                            <span>Student Management</span>
                        </a>
                    </li><!-- End Error 404 Page Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/attendance">
                            <i class="bi bi-table"></i>

                            <span>Attendance Management</span>
                        </a>
                    </li><!-- End Blank Page Nav -->
                    <li class="nav-item">
                        <a class="nav-link" href="/event">

                            <i class="bi bi-calendar-event"></i>
                            <span>Event Management</span>
                        </a>
                    </li><!-- End Blank Page Nav -->
                </ul>

            </aside><!-- End Sidebar-->
            <div class="main" id="main">
                <section class="section student">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/student"><i class="bi bi-arrow-left"></i> Go Back</a>
                            </li>

                        </ol>
                    </nav>
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Insert New Student</h5>
                                <%-include ("./Include/Admin/message.ejs")%>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="input-container">
                                                <h6>Manual Insert (Single Data)</h6>
                                                <form action="/student_new" method="post" class="needs-validation"
                                                    novalidate>
                                                    <div class="mb-2">
                                                        <label for="student_id" class="form-label">Student
                                                            ID</label>
                                                        <input class="form-control form-control-sm" type="text"
                                                            name="student_id" id="student_id" autofocus
                                                            required minlength="9" maxlength="9"></input>
                                                    </div>

                                                    <div class="mb-2">
                                                        <label for="name" class="form-label">Student
                                                            Name</label>
                                                        <input class="form-control form-control-sm" type="text"
                                                            name="name" id="name" required></input>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="section" class="form-label">Degree</label>

                                                        <input class="form-control form-control-sm" type="text"
                                                            name="degree" id="degree" required></input>

                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="course" class="form-label">Year &
                                                            Section</label>
                                                        <input class="form-control form-control-sm" type="text"
                                                            name="year_section" id=" year_section" required minlength="3" maxlength="3"></input>
                                                    </div>



                                                    <input class="btn btn-success btn-sm" id="register" type="submit"
                                                        value="Register"></input>

                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="excel-container">
                                                <h6>Upload Excel (Multiple Data)</h6>
                                                <div class="excel-img-container text-center">
                                                    <img src="/img/excel.png" alt="" class="img-fluid mx-auto d-block">
                                                    <small class="fst-italic">Example of Excel Format</small>
                                                </div>

                                                <div class="excel-form mt-3">
                                                    <form action="/upload_excel" enctype="multipart/form-data"
                                                        method="post" class="needs-validation-excel" novalidate>

                                                        <input type="file" name="import-excel"
                                                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                                            class="form-control form-control-sm" required />
                                                        <button type="submit"
                                                            class="btn btn-success btn-sm mt-2">Upload</button>

                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <%-include ("./Include/Admin/script.ejs")%>
                <script>

                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                    (() => {
                        'use strict'

                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        const forms_input = document.querySelectorAll('.needs-validation')
                        const forms_excel = document.querySelectorAll('.needs-validation-excel')

                        // Loop over them and prevent submission
                        Array.from(forms_input).forEach(form => {
                            form.addEventListener('submit', event => {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })

                        Array.from(forms_excel).forEach(form => {
                            form.addEventListener('submit', event => {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })
                    })()
                </script>
    </body>

    </html>