<%-include ("./Include/Admin/head.ejs")%>

    <body>

        <%-include ("./Include/Admin/header.ejs")%>

            <!-- ======= Sidebar ======= -->
            <aside id="sidebar" class="sidebar">

                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/dashboard">
                            <i class="bi bi-columns-gap"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <!-- End Dashboard Nav -->
                    </li><!-- End Components Nav -->
                    <li class="nav-item">
                        <a class="nav-link" href="/student">
                            <i class="bi bi-person-circle"></i>
                            <span>Student Management</span>
                        </a>
                    </li><!-- End Error 404 Page Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/attendance">
                            <i class="bi bi-table"></i>

                            <span>Attendance Management</span>
                        </a>
                    </li><!-- End Blank Page Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/event">

                            <i class="bi bi-calendar-event"></i>
                            <span>Event Management</span>
                        </a>
                    </li><!-- End Blank Page Nav -->
                    <li class="nav-heading">Others</li>


                    <li class="nav-item">
                      <a class="nav-link collapsed" href="/settings">
          
                        <i class="bi bi-gear"></i>
                        <span>Settings</span>
                      </a>
                    </li><!-- End Blank Page Nav -->
                </ul>

            </aside><!-- End Sidebar-->
            <div class="main" id="main">
                <div class="pagetitle">
                    <h1>Add Student</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                            <li class="breadcrumb-item"><a href="/student">Student Management</a></li>
                            <li class="breadcrumb-item active">Add Student</li>
                        </ol>
                    </nav>
                </div>
                <section class="section student">
                    <%-include ("./Include/Admin/message.ejs")%>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="input-container">
                                            <h6 class="card-title">Manual Insert (Single Data)</h6>
                                            <form action="/student_new" method="post" class="needs-validation" id="form-single" novalidate>
                                                <div class="mb-2">
                                                    <label for="student_id" class="form-label">Student
                                                        ID</label>
                                                    <input class="form-control form-control-sm" type="text"
                                                        name="student_id" id="student_id" autofocus required
                                                        ></input>
                                                    <div class="invalid-feedback" id="invalid-feedback">

                                                    </div>
                                                </div>


                                                <div class="mb-2">
                                                    <label for="name" class="form-label">Student
                                                        Name</label>
                                                    <input class="form-control form-control-sm" type="text" name="name"
                                                        id="name" required></input>
                                                </div>
                                                <div class="mb-2">
                                                    <label for="section" class="form-label">Degree</label>

                                                    <input class="form-control form-control-sm" type="text"
                                                        name="degree" id="degree" required></input>

                                                </div>
                                                <div class="mb-2">
                                                    <label for="course" class="form-label">Year &
                                                        Section</label>
                                                    <input class="form-control form-control-sm" type="text"
                                                        name="year_section" id=" year_section" required minlength="3"
                                                        maxlength="3"></input>
                                                </div>



                                                <input class="btn btn-success btn-sm mb-2" id="register" type="submit"
                                                    value="Register" ></input>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="excel-container">
                                            <h6 class="card-title">Upload Excel (Multiple Data)</h6>
                                            <div class="excel-img-container text-center">
                                                <img src="/img/excel.png" alt="" class="img-fluid mx-auto d-block">
                                                <small class="fst-italic">Example of Excel Format</small>
                                            </div>

                                            <div class="excel-form mt-3">
                                                <form action="/upload_excel" enctype="multipart/form-data" method="post"
                                                    class="needs-validation" novalidate>

                                                    <input type="file" name="import-excel"
                                                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                                        class="form-control form-control-sm" required />
                                                    <button type="submit"
                                                        class="btn btn-success btn-sm mt-2">Upload</button>

                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                </section>
            </div>
            <%-include ("./Include/Admin/script.ejs")%>
               
    </body>

    </html>