<script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="/js/html5-qrcode.js" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/vendor/datatables/jquery.js"></script>

<script src="/vendor/datatables/jquery_datatables.js"></script>
<script src="/vendor/datatables/bootstrap5_datatables.js"></script>

<script type="text/javascript">
  const zeroFill = n => {
    return ('0' + n).slice(-2);
  }
  // Creates interval
  const interval = setInterval(() => {
    // Get current time
    const now = new Date();
    var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";

    var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";


    var hours = now.getHours();

    var minutes = now.getMinutes();
    var seconds = zeroFill(now.getSeconds())
    minutes = minutes < 10 ? '0' + minutes : minutes;

    var AMPM = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12;

    var currentTime = `${hours}:${minutes}:${seconds} ${AMPM}`;
    var currentDay = weekday[now.getDay()];

    var currentDate = now.getDate();
    var currentMonth = month[now.getMonth()];
    var CurrentYear = now.getFullYear();

    var fullDate = `${currentMonth} ${currentDate}, ${CurrentYear}`;

    document.getElementById("date").innerHTML = `${currentDay}, ${fullDate}`
    document.getElementById("time").innerHTML = `${currentTime}`


  }, 1000);



</script>
</body>

</html>