<header>
    <nav class="navbar navbar-light border-bottom py-1">
        <div class="container-lg">
            <a href="/" class="navbar-brand">
                <img src="/img/mmsu_logo.png" alt="Logo" height="50" class="d-inline-block align-text-center">
                <img src="/img/cte_logo.png" alt="Logo" height="50" class="d-inline-block align-text-center">
                <div class="d-inline-block ">CTE Attendance Recording System</div>
            </a>
            <div class="text-end">
                <div id="date"></div>
                <div id="time" class="fs-5"></div>
            </div>
        </div>
    </nav>
</header>
