<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard</title>

  <!-- Google Fonts -->
 

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- DataTable CSS CDN -->
  <link rel="stylesheet" href="/vendor/datatables/datatables.css">


  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">


</head>